**About Book Crossing Dataset**<br>

This dataset has been compiled by Cai-Nicolas Ziegler in 2004, and it comprises of three tables for users, books and ratings. Explicit ratings are expressed on a scale from 1-10 (higher values denoting higher appreciation) and implicit rating is expressed by 0.

Reference: http://www2.informatik.uni-freiburg.de/~cziegler/BX/

**Objective**

This project entails building a Book Recommender System for users based on user-based and item-based collaborative filtering approaches.

#### Execute the below cell to load the datasets

In [160]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning)

In [161]:
#Loading data|
books = pd.read_csv("books.csv", sep=";", error_bad_lines=False, encoding="latin-1")
books.columns = ['ISBN', 'bookTitle', 'bookAuthor', 'yearOfPublication', 'publisher', 'imageUrlS', 'imageUrlM', 'imageUrlL']

users = pd.read_csv('users.csv', sep=';', error_bad_lines=False, encoding="latin-1")
users.columns = ['userID', 'Location', 'Age']

ratings = pd.read_csv('ratings.csv', sep=';', error_bad_lines=False, encoding="latin-1")
ratings.columns = ['userID', 'ISBN', 'bookRating']

b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'
C:\Users\Bhagoda\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [162]:
users.head()

   userID                            Location   Age
0       1                  nyc, new york, usa   NaN
1       2           stockton, california, usa  18.0
2       3     moscow, yukon territory, russia   NaN
3       4           porto, v.n.gaia, portugal  17.0
4       5  farnborough, hants, united kingdom   NaN

In [163]:
ratings.head()

   userID        ISBN  bookRating
0  276725  034545104X           0
1  276726  0155061224           5
2  276727  0446520802           0
3  276729  052165615X           3
4  276729  0521795028           6

### Check no.of records and features given in each dataset

In [164]:
books.shape

(271360, 8)

In [165]:
users.shape

(278858, 3)

In [166]:
ratings.shape

(1149780, 3)

## Exploring books dataset

In [167]:
books.head()

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher,imageUrlS,imageUrlM,imageUrlL
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

### Drop last three columns containing image URLs which will not be required for analysis

In [168]:
books = books.drop(['imageUrlS','imageUrlM','imageUrlL'],axis = 1)

In [169]:
books.head()

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company

**yearOfPublication**

### Check unique values of yearOfPublication

In [170]:
books.yearOfPublication.unique()

array([2002, 2001, 1991, 1999, 2000, 1993, 1996, 1988, 2004, 1998, 1994,
       2003, 1997, 1983, 1979, 1995, 1982, 1985, 1992, 1986, 1978, 1980,
       1952, 1987, 1990, 1981, 1989, 1984, 0, 1968, 1961, 1958, 1974,
       1976, 1971, 1977, 1975, 1965, 1941, 1970, 1962, 1973, 1972, 1960,
       1966, 1920, 1956, 1959, 1953, 1951, 1942, 1963, 1964, 1969, 1954,
       1950, 1967, 2005, 1957, 1940, 1937, 1955, 1946, 1936, 1930, 2011,
       1925, 1948, 1943, 1947, 1945, 1923, 2020, 1939, 1926, 1938, 2030,
       1911, 1904, 1949, 1932, 1928, 1929, 1927, 1931, 1914, 2050, 1934,
       1910, 1933, 1902, 1924, 1921, 1900, 2038, 2026, 1944, 1917, 1901,
       2010, 1908, 1906, 1935, 1806, 2021, '2000', '1995', '1999', '2004',
       '2003', '1990', '1994', '1986', '1989', '2002', '1981', '1993',
       '1983', '1982', '1976', '1991', '1977', '1998', '1992', '1996',
       '0', '1997', '2001', '1974', '1968', '1987', '1984', '1988',
       '1963', '1956', '1970', '1985', '1978', '1973', '1980', '1979',
       '1975', '1969', '1961', '1965', '1939', '1958', '1950', '1953',
       '1966', '1971', '1959', '1972', '1955', '1957', '1945', '1960',
       '1967', '1932', '1924', '1964', '2012', '1911', '1927', '1948',
       '1962', '2006', '1952', '1940', '1951', '1931', '1954', '2005',
       '1930', '1941', '1944', 'DK Publishing Inc', '1943', '1938',
       '1900', '1942', '1923', '1920', '1933', 'Gallimard', '1909',
       '1946', '2008', '1378', '2030', '1936', '1947', '2011', '2020',
       '1919', '1949', '1922', '1897', '2024', '1376', '1926', '2037'],
      dtype=object)

As it can be seen from above that there are some incorrect entries in this field. It looks like Publisher names 'DK Publishing Inc' and 'Gallimard' have been incorrectly loaded as yearOfPublication in dataset due to some errors in csv file.


Also some of the entries are strings and same years have been entered as numbers in some places. We will try to fix these things in the coming questions.

### Check the rows having 'DK Publishing Inc' as yearOfPublication

In [171]:
books[books['yearOfPublication'] == 'DK Publishing Inc']

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher
209538,078946697X,"DK Readers: Creating the X-Men, How It All Beg...",2000,DK Publishing Inc,http://images.amazon.com/images/P/078946697X.0...
221678,0789466953,"DK Readers: Creating the X-Men, How Comic Book...",2000,DK Publishing Inc,http://images.amazon.com/images/P/0789466953.0...

### Drop the rows having `'DK Publishing Inc'` and `'Gallimard'` as `yearOfPublication`

In [172]:
books.drop(books[books['yearOfPublication'] == 'DK Publishing Inc'].index,inplace = True)

### Check the rows having 'Gallimard' as yearOfPublication

In [173]:
books[books['yearOfPublication'] == 'Gallimard']

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher
220731,2070426769,"Peuple du ciel, suivi de 'Les Bergers\"";Jean-M...",2003,Gallimard,http://images.amazon.com/images/P/2070426769.0...

### Drop the rows having `'DK Publishing Inc'` and `'Gallimard'` as `yearOfPublication`

In [174]:
books.drop(books[books['yearOfPublication'] == 'Gallimard'].index, inplace = True)

In [175]:
books[books['yearOfPublication'] == 'DK Publishing Inc']

Empty DataFrame
Columns: [ISBN, bookTitle, bookAuthor, yearOfPublication, publisher]
Index: []

In [176]:
books[books['yearOfPublication'] == 'Gallimard']

Empty DataFrame
Columns: [ISBN, bookTitle, bookAuthor, yearOfPublication, publisher]
Index: []

### Change the datatype of yearOfPublication to 'int'

In [177]:
books.yearOfPublication = books.yearOfPublication.astype('int')

In [178]:
books.dtypes

ISBN                 object
bookTitle            object
bookAuthor           object
yearOfPublication     int32
publisher            object
dtype: object

### Drop NaNs in `'publisher'` column

In [179]:
books.publisher = books.publisher.dropna()

In [180]:
books[books.publisher.isna() == 'True']
books[books.publisher == pd.np.NaN]

C:\Users\Bhagoda\Anaconda3\lib\site-packages\pandas\core\ops.py:1649: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

Empty DataFrame
Columns: [ISBN, bookTitle, bookAuthor, yearOfPublication, publisher]
Index: []

## Exploring Users dataset

In [181]:
print(users.shape)
users.head()

(278858, 3)

   userID                            Location   Age
0       1                  nyc, new york, usa   NaN
1       2           stockton, california, usa  18.0
2       3     moscow, yukon territory, russia   NaN
3       4           porto, v.n.gaia, portugal  17.0
4       5  farnborough, hants, united kingdom   NaN

### Get all unique values in ascending order for column `Age`

In [182]:
np.sort(users.Age.unique())

array([  0.,   1.,   2.,   3.,   4.,   5.,   6.,   7.,   8.,   9.,  10.,
        11.,  12.,  13.,  14.,  15.,  16.,  17.,  18.,  19.,  20.,  21.,
        22.,  23.,  24.,  25.,  26.,  27.,  28.,  29.,  30.,  31.,  32.,
        33.,  34.,  35.,  36.,  37.,  38.,  39.,  40.,  41.,  42.,  43.,
        44.,  45.,  46.,  47.,  48.,  49.,  50.,  51.,  52.,  53.,  54.,
        55.,  56.,  57.,  58.,  59.,  60.,  61.,  62.,  63.,  64.,  65.,
        66.,  67.,  68.,  69.,  70.,  71.,  72.,  73.,  74.,  75.,  76.,
        77.,  78.,  79.,  80.,  81.,  82.,  83.,  84.,  85.,  86.,  87.,
        88.,  89.,  90.,  91.,  92.,  93.,  94.,  95.,  96.,  97.,  98.,
        99., 100., 101., 102., 103., 104., 105., 106., 107., 108., 109.,
       110., 111., 113., 114., 115., 116., 118., 119., 123., 124., 127.,
       128., 132., 133., 136., 137., 138., 140., 141., 143., 146., 147.,
       148., 151., 152., 156., 157., 159., 162., 168., 172., 175., 183.,
       186., 189., 199., 200., 201., 204., 207., 208., 209., 210., 212.,
       219., 220., 223., 226., 228., 229., 230., 231., 237., 239., 244.,
        nan])

Age column has some invalid entries like nan, 0 and very high values like 100 and above

### Values below 5 and above 90 do not make much sense for our book rating case...hence replace these by NaNs

In [183]:
users.Age = users.Age.replace(users[(users.Age < 5.) | (users.Age > 90.)]['Age'],np.NaN)

In [184]:
users[(users.Age < 5.) | (users.Age > 90.)]

Empty DataFrame
Columns: [userID, Location, Age]
Index: []

In [185]:
users.Age[users.Age.isnull() == True]

0        NaN
2        NaN
4        NaN
6        NaN
7        NaN
8        NaN
11       NaN
13       NaN
14       NaN
15       NaN
16       NaN
21       NaN
22       NaN
25       NaN
31       NaN
33       NaN
38       NaN
42       NaN
44       NaN
47       NaN
48       NaN
51       NaN
52       NaN
54       NaN
56       NaN
57       NaN
59       NaN
61       NaN
64       NaN
67       NaN
          ..
278789   NaN
278790   NaN
278792   NaN
278796   NaN
278798   NaN
278800   NaN
278801   NaN
278803   NaN
278805   NaN
278812   NaN
278815   NaN
278822   NaN
278824   NaN
278826   NaN
278827   NaN
278828   NaN
278830   NaN
278833   NaN
278836   NaN
278838   NaN
278840   NaN
278841   NaN
278844   NaN
278846   NaN
278847   NaN
278849   NaN
278853   NaN
278855   NaN
278856   NaN
278857   NaN
Name: Age, Length: 112074, dtype: float64

In [186]:
mean_age = users.Age.mean()

### Replace null values in column `Age` with mean

In [187]:
users.Age[users.Age.isnull()] = mean_age

C:\Users\Bhagoda\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [188]:
users.Age == np.nan

0         False
1         False
2         False
3         False
4         False
5         False
6         False
7         False
8         False
9         False
10        False
11        False
12        False
13        False
14        False
15        False
16        False
17        False
18        False
19        False
20        False
21        False
22        False
23        False
24        False
25        False
26        False
27        False
28        False
29        False
          ...
278828    False
278829    False
278830    False
278831    False
278832    False
278833    False
278834    False
278835    False
278836    False
278837    False
278838    False
278839    False
278840    False
278841    False
278842    False
278843    False
278844    False
278845    False
278846    False
278847    False
278848    False
278849    False
278850    False
278851    False
278852    False
278853    False
278854    False
278855    False
278856    False
278857    False
Name: Age, Length: 278858, dtype: bool

### Change the datatype of `Age` to `int`

In [189]:
users.Age = users.Age.astype('int')

In [190]:
print(sorted(users.Age.unique()))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90]

## Exploring the Ratings Dataset

### check the shape

In [191]:
ratings.shape

(1149780, 3)

In [192]:
n_users = users.shape[0]
n_books = books.shape[0]

In [193]:
ratings.head(5)
ratings.shape

(1149780, 3)

### Ratings dataset should have books only which exist in our books dataset. Drop the remaining rows

In [197]:
ratings.ISBN.isin(books.ISBN)

0           True
1           True
2           True
3           True
4           True
5           True
6          False
7          False
8           True
9          False
10          True
11          True
12          True
13          True
14          True
15          True
16          True
17          True
18          True
19          True
20          True
21          True
22          True
23          True
24          True
25         False
26         False
27          True
28          True
29          True
           ...
1149750     True
1149751     True
1149752     True
1149753     True
1149754     True
1149755     True
1149756     True
1149757     True
1149758    False
1149759     True
1149760     True
1149761     True
1149762     True
1149763     True
1149764     True
1149765     True
1149766     True
1149767     True
1149768     True
1149769     True
1149770     True
1149771     True
1149772     True
1149773     True
1149774     True
1149775     True
1149776     True
1149777     True
1149778     True
1149779    False
Name: ISBN, Length: 1149780, dtype: bool

In [198]:
ratings.drop(ratings[ratings.ISBN.isin(books.ISBN) == False].index,inplace = True)

In [254]:
ratings.shape

(1031132, 3)

### Ratings dataset should have ratings from users which exist in users dataset. Drop the remaining rows

In [200]:
ratings.userID.isin(users.userID)

0          True
1          True
2          True
3          True
4          True
5          True
8          True
10         True
11         True
12         True
13         True
14         True
15         True
16         True
17         True
18         True
19         True
20         True
21         True
22         True
23         True
24         True
27         True
28         True
29         True
31         True
32         True
33         True
34         True
35         True
           ...
1149748    True
1149749    True
1149750    True
1149751    True
1149752    True
1149753    True
1149754    True
1149755    True
1149756    True
1149757    True
1149759    True
1149760    True
1149761    True
1149762    True
1149763    True
1149764    True
1149765    True
1149766    True
1149767    True
1149768    True
1149769    True
1149770    True
1149771    True
1149772    True
1149773    True
1149774    True
1149775    True
1149776    True
1149777    True
1149778    True
Name: userID, Length: 1031132, dtype: bool

In [257]:
ratings.drop(ratings[ratings.userID.isin(users.userID) == False].index,inplace = True)

In [258]:
ratings.shape

(1031132, 3)

### Consider only ratings from 1-10 and leave 0s in column `bookRating`

In [259]:
ratings = ratings[ratings['bookRating'] >= 1]
ratings = ratings[ratings['bookRating'] <= 10]
ratings.shape

(383841, 3)

### Find out which rating has been given highest number of times

In [260]:
ratings.bookRating.value_counts().sort_values(ascending = False)

8     91804
10    71225
7     66401
9     60778
5     45355
6     31687
4      7617
3      5118
2      2375
1      1481
Name: bookRating, dtype: int64

>- From the above count values we can see rating 8 has been given highest number of times

### **Collaborative Filtering Based Recommendation Systems**

### For more accurate results only consider users who have rated atleast 100 books

In [266]:
more_100 = pd.DataFrame(ratings['userID'].value_counts() > 99)
more = more_100[more_100['userID'] == True].index
more # more contains all the userID who have rated atleast 100 books .DataFrame(ratings['userID'].value_counts() >= 100)

Int64Index([ 11676,  98391, 189835, 153662,  23902, 235105,  76499, 171118,
             16795, 248718,
            ...
            117384,  36299, 169682, 211919, 156300,  95010,  33145,  26544,
            208406,  36609],
           dtype='int64', length=449)

In [267]:
(ratings['userID'].value_counts() > 99 ).sum()

449

In [268]:
ratings = ratings[ratings['userID'].isin(more)]
ratings

         userID        ISBN  bookRating
1456     277427  002542730X          10
1458     277427  003008685X           8
1461     277427  0060006641          10
1465     277427  0060542128           7
1474     277427  0061009059           9
1477     277427  0062507109           8
1483     277427  0132220598           8
1488     277427  0140283374           6
1490     277427  014039026X           8
1491     277427  0140390715           7
1494     277427  0141439742           8
1497     277427  0152050167          10
1501     277427  0201000822          10
1506     277427  0310435706          10
1509     277427  0312944691           8
1522     277427  0316776963           8
1543     277427  0345413903          10
1554     277427  0375408886           9
1560     277427  0375751513           9
1564     277427  0380702843           8
1570     277427  0380791978           9
1571     277427  038081904X           9
1578     277427  0385424736           9
1581     277427  0385486804           9
1583     277427  0385503857           9
1584     277427  0385504209           8
1586     277427  039304016X           8
1591     277427  0394738136           7
1592     277427  0394862147           7
1599     277427  0399149562           7
...         ...         ...         ...
1147394  275970  0877017883          10
1147406  275970  0896086011          10
1147411  275970  0915230151           7
1147419  275970  0945774109          10
1147427  275970  0965328309          10
1147432  275970  0971183562          10
1147445  275970  1400060494           8
1147452  275970  1551110792          10
1147456  275970  1552093654           8
1147460  275970  1555912400           6
1147464  275970  1556704402          10
1147477  275970  1561483516           8
1147480  275970  1563052377           7
1147509  275970  1572970065           6
1147529  275970  1580628079           7
1147543  275970  1583224890          10
1147548  275970  1584690445          10
1147549  275970  1584690453          10
1147550  275970  1584690461          10
1147551  275970  158469047X          10
1147556  275970  1586210661           9
1147558  275970  1586214349           8
1147560  275970  1586632043          10
1147570  275970  1592865089           7
1147579  275970  1845170423           7
1147587  275970  185649814X           7
1147592  275970  1860462588           8
1147599  275970  1886411077           6
1147611  275970  3411086211          10
1147615  275970  9626340762           8

[103271 rows x 3 columns]

In [270]:
len(ratings['userID'].value_counts()>99) # confirming for filltering

449

In [272]:
book_data = pd.merge(ratings, books, on='ISBN')
book_data.head()

,userID,ISBN,bookRating,bookTitle,bookAuthor,yearOfPublication,publisher
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
1,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
2,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
3,52584,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
4,110934,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc

### Generating ratings matrix from explicit ratings

#### Note: since NaNs cannot be handled by training algorithms, replace these by 0, which indicates absence of ratings

In [273]:
new_rate = ratings.pivot(index = 'userID', columns = 'ISBN', values = 'bookRating').fillna(0)
new_rate.head()
new_rate.shape

(449, 66574)

In [274]:
new_rate.isna().sum().sum()

0

### Generate the predicted ratings using SVD with no.of singular values to be 50

In [276]:
from scipy.sparse.linalg import svds
U, sigma, Vt = svds(new_rate, k = 50)

In [277]:
sigma

array([147.92121923, 149.34383594, 150.07402888, 152.20117656,
       152.87418704, 154.61308372, 154.8009367 , 155.9576219 ,
       158.05647521, 159.21079485, 159.81671145, 162.01964856,
       162.77851803, 163.33054935, 166.02489424, 166.8162491 ,
       168.04973155, 170.7748546 , 171.01325758, 173.2942917 ,
       174.57625311, 176.65730369, 178.61914388, 180.29517228,
       182.25079073, 184.10707214, 187.61690418, 189.75277078,
       190.96974587, 195.14643816, 199.83137575, 201.70083342,
       202.18713995, 203.48701648, 207.26450247, 209.9298699 ,
       213.23599152, 216.88280902, 224.26954903, 231.66187407,
       235.67096044, 249.95821298, 252.02931103, 261.24819623,
       267.9821169 , 281.01208736, 293.69539697, 379.58353138,
       634.74439146, 680.41331629])

### Take a particular user_id

### Lets find the recommendations for user with id `2110`

#### Note: Execute the below cells to get the variables loaded

In [278]:
userID = 2110

In [279]:
user_id = 2 #2nd row in ratings matrix and predicted matrix

### Get the predicted ratings for userID `2110` and sort them in descending order

In [281]:
sigma = np.diag(sigma)

In [282]:
sigma

array([[147.92121923,   0.        ,   0.        , ...,   0.        ,
          0.        ,   0.        ],
       [  0.        , 149.34383594,   0.        , ...,   0.        ,
          0.        ,   0.        ],
       [  0.        ,   0.        , 150.07402888, ...,   0.        ,
          0.        ,   0.        ],
       ...,
       [  0.        ,   0.        ,   0.        , ..., 379.58353138,
          0.        ,   0.        ],
       [  0.        ,   0.        ,   0.        , ...,   0.        ,
        634.74439146,   0.        ],
       [  0.        ,   0.        ,   0.        , ...,   0.        ,
          0.        , 680.41331629]])

In [283]:
all_users_predicted_ratings = np.dot(np.dot(U, sigma), Vt)

In [285]:
pred_df = pd.DataFrame(all_users_predicted_ratings, columns = new_rate.columns)
pred_df.head()

ISBN,0000913154,0001046438,000104687X,0001047213,0001047973,000104799X,0001048082,0001053736,0001053744,0001055607,...,B000092Q0A,B00009EF82,B00009NDAN,B0000DYXID,B0000T6KHI,B0000VZEJQ,B0000X8HIE,B00013AX9E,B0001I1KOG,B000234N3A
0,0.025341,-0.002146,-0.001431,-0.002146,-0.002146,0.002971,-0.003920,0.007035,0.007035,0.012316,...,0.000180,0.000226,0.042081,-0.016804,-0.080027,0.004746,0.028314,0.000120,-0.001693,0.067503
1,-0.010012,-0.003669,-0.002446,-0.003669,-0.003669,0.001075,0.001440,-0.003500,-0.003500,0.001612,...,-0.000363,0.000403,0.008142,0.001104,-0.029224,0.000999,0.002363,-0.000242,0.000029,-0.013059
2,-0.015054,-0.015457,-0.010304,-0.015457,-0.015457,0.007281,-0.014033,0.011941,0.011941,0.011796,...,-0.000455,0.001907,0.047982,0.005737,0.117859,0.006945,0.003119,-0.000304,0.009009,-0.057692
3,-0.021499,0.035602,0.023735,0.035602,0.035602,0.030307,0.024215,-0.001053,-0.001053,0.067579,...,0.002971,0.009912,0.086248,-0.008818,0.016154,0.028848,-0.000125,0.001981,0.031201,-0.046664
4,0.002077,-0.007965,-0.005310,-0.007965,-0.007965,0.002947,0.003057,0.000231,0.000231,0.006080,...,0.002120,0.001597,-0.012181,0.009420,0.673458,0.002591,-0.008229,0.001413,0.004918,0.047773

In [286]:
def recommend_books(predictions_df, userID,userId, books_df, original_ratings_df, num_recommendations = False):
    user_row_number = userID   #UserID starts at zero not 1
    sorted_user_predictions = predictions_df.loc[user_row_number].sort_values(ascending = False)
    
    user_data = original_ratings_df[original_ratings_df.userID == (userId)]
    user_full = (user_data.merge(books, how = 'left', left_on = 'ISBN', right_on = 'ISBN').
                sort_values(['bookRating'], ascending = False)
                )
    print('User {0} has already rated {1} books.'.format(userID, user_full.dropna().shape[0]))
    print('Recommending the highest {0} predicted ratings books not already read.'.format(num_recommendations))
    
    recommendations = (books_df[~books_df['ISBN'].isin(user_full['ISBN'])].
                      merge(pd.DataFrame(sorted_user_predictions).reset_index(), how = 'left',
                           left_on = 'ISBN',
                           right_on = 'ISBN').
                      rename(columns = {user_row_number: 'Predictions'}).
                      sort_values('Predictions', ascending = False).
                      iloc[:num_recommendations, :-1])
    return user_full, recommendations, sorted_user_predictions, user_data, user_full
#R_df = rating.pivot(index = 'userID', columns = 'ISBN', values = 'bookRating').fillna(0)

In [288]:
already_rated, predictions, sorted_user_predictions, user_data, user_full = recommend_books(pred_df, 2,2110,books, ratings, 10)

User 2 has already rated 103 books.
Recommending the highest 10 predicted ratings books not already read.

### Create a dataframe with name `user_data` containing userID `2110` explicitly interacted books

In [289]:
already_rated

,userID,ISBN,bookRating,bookTitle,bookAuthor,yearOfPublication,publisher
76,2110,067166865X,10,STAR TREK YESTERDAY'S SON (Star Trek: The Orig...,A.C. Crispin,1988,Audioworks
52,2110,0590109715,10,"The Andalite Chronicles (Elfangor's Journey, A...",Katherine Applegate,1997,Apple
64,2110,0590629786,10,"The Visitor (Animorphs, No 2)",K. A. Applegate,1996,Scholastic
63,2110,0590629778,10,"The Invasion (Animorphs, No 1)",K. A. Applegate,1996,Scholastic
61,2110,059046678X,10,The Yearbook,Peter Lerangis,1994,Scholastic
55,2110,059035342X,10,Harry Potter and the Sorcerer's Stone (Harry P...,J. K. Rowling,1999,Arthur A. Levine Books
93,2110,0812505042,10,The Time Machine,H. G. Wells,1995,Tor Books
54,2110,0590213040,10,The Andalite's Gift (Animorphs : Megamorphs 1),K. A. Applegate,1997,Scholastic
53,2110,0590109960,10,Watchers #1: Last Stop,Peter Lerangis,1998,Scholastic
82,2110,0679805265,10,Long Shot (Three Investigators Crimebusters (P...,Megan Stine,1993,Random House Children's Books
97,2110,097089726x,10,Jasper,Michelle Groce,2003,Novello Festival Press
83,2110,0679811761,10,The Secret of Terror Castle (Three Investigato...,Robert Arthur,1991,Random House Children's Books
31,2110,0380570009,10,How to Talk So Kids Will Listen and Listen So ...,Adele Faber,1991,Back Bay Books
46,2110,0486270718,10,The Invisible Man (Dover Thrift Editions),H. G. Wells,1992,Dover Publications
87,2110,0743486625,10,Damnation Alley,Roger Zelazny,2004,I Books
36,2110,0394843509,10,Reel Trouble (The Three Investigators Crimebus...,G. H. Stone,1989,Random House Children's Books
42,2110,0441000150,10,Quantum Leap: The Wall (Quantum Leap),Ashley McConnell,1994,Ace Books
77,2110,0671695304,10,"FOREVER : A Novel of Good and Evil, Love and Hope",Judy Blume,1989,Pocket
40,2110,0439240700,10,"The Power of Two (T*Witches, No 1)",H. B. Gilmour,2001,Apple
65,2110,0590629794,10,"The Encounter (Animorphs , No 3)",K. A. Applegate,1996,Scholastic
66,2110,0590629808,10,"The Message (Animorphs , No 4)",K. A. Applegate,1996,Scholastic
10,2110,0345307674,10,Return of the Jedi (Star Wars),James Kahn,1983,Del Rey Books
2,2110,0140022651,10,Journey to the Center of the Earth,Jules Verne,1965,Penguin Books
78,2110,0671751174,10,First Evil (Fear Street Cheerleaders 1) : Firs...,R.L. Stine,1992,Simon Pulse
101,2110,1570420564,10,A Dream Is a Wish Your Heart Makes: My Story,Annette Funicello,1994,Time Warner Audio Books
6,2110,0345260627,10,Splinter of the Mind's Eye,Alan Dean Foster,1978,Ballantine Books
7,2110,0345283554,10,Han Solo at Stars' End,Daley,1979,Not Avail
9,2110,034528710X,10,Han Solo and the Lost Legacy,Brian Daley,1980,Del Rey Books
8,2110,0345283929,10,Empire Strikes Back Wars,Donald F Glut,1980,Ballantine Books
11,2110,0345314255,10,Sword of Shannara,Terry Brooks,1995,Del Rey Books
...,...,...,...,...,...,...,...
38,2110,0439176824,8,"The Fall (The Seventh Tower, Book 1)",Garth Nix,2000,Scholastic
99,2110,1561008931,7,Knee Deep in Paradise (Nova Audio Books),Brett Butler,1996,Brilliance Audio - Trade
96,2110,093317490X,7,The Yucatan: A Guide to the Land of Maya Myste...,Antoinette May,1993,Wide World Publishing
88,2110,0786807555,7,Under a War-Torn Sky,Laura Malone Elliott,2001,Hyperion Books for Children
0,2110,0060987529,7,Confessions of an Ugly Stepsister : A Novel,Gregory Maguire,2000,Regan Books
74,2110,0671529714,7,HIGH TIDE FEAR STREET SUPERCHILLER 12,R.L. Stine,1997,Simon Pulse
33,2110,0394553284,7,One Knee Equals Two Feet (And Everything Else ...,John Madden,1986,Villard Books
18,2110,0373614896,7,Strike and Retrieve (Super Bolan #89),Don Pendleton,2003,Gold Eagle
20,2110,0373619472,7,Freedom Watch (Stony Man #63),Don Pendleton,2003,Gold Eagle
21,2110,0373619499,7,Stony Man: The Third Protocol,Don Pendleton,2003,Gold Eagle
22,2110,0373619502,7,Axis Of Conflict The Terror File,James Axler,2003,Gold Eagle
69,2110,0590880780,7,"Them (Remnants, 3)",K. A. Applegate,2001,Scholastic
28,2110,037364292X,7,Savage Game (Executioner #292),Don Pendleton,2003,Gold Eagle
32,2110,038513097x,7,Mary Frampton and friends rock and roll recipes,Mary Frampton,1980,Anchor Books
27,2110,0373642911,7,Blood Trade (The Executioner #291),Don Pendleton,2003,Gold Eagle
34,2110,0394563131,7,One Size Doesn't Fit All,John Madden,1988,Random House Inc
62,2110,059047054X,7,Claudia and the Clue in the Photograph (Baby-S...,Ann M. Martin,1994,Scholastic
41,2110,0440920221,6,Dracula Go Home,Kin Platt,1985,Bantam Books (Mm)
91,2110,0806512318,6,The Worst Rock-And-Roll Records of All Time: A...,Jimmy Guterman,1991,Carol Publishing Corporation
26,2110,0373642857,6,"Final Strike (Executioner #285) (Executioner,...",Don Pendleton,2002,Gold Eagle
25,2110,0373642849,6,The Executioner: Devil's Army,Don Pendleton,2002,Gold Eagle
68,2110,0590880748,6,"Destination Unknown (Remnants, 2)",K. A. Applegate,2001,Scholastic
17,2110,0373614845,6,Mack Bolan: Dark Truth,Don Pendleton,2002,Gold Eagle
16,2110,0345423038,6,The Wild Road,Gabriel King,1999,Del Rey Books
102,2110,1572970944,6,Quantum Leap: The Novel (Quantum Leap),Ashley McConnell,1992,Berkley Publishing Group
49,2110,0515134384,5,The Cat Who Went Up the Creek,Lilian Jackson Braun,2003,Jove Books
19,2110,037361490X,5,Age of War (Super Bolan #90),Don Pendleton,2003,Gold Eagle
4,2110,0151008116,5,Life of Pi,Yann Martel,2002,Harcourt
50,2110,0515136557,3,The Cat Who Brought Down the House,Lilian Jackson Braun,2004,Jove Books
84,2110,0688047211,1,The Lives of John Lennon,Albert Goldman,1988,Harpercollins

### reccendation for User

In [290]:
predictions

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher
407,0316666343,The Lovely Bones: A Novel,Alice Sebold,2002,"Little, Brown"
2116,0345350499,The Mists of Avalon,MARION ZIMMER BRADLEY,1987,Del Rey
2438,0440214041,The Pelican Brief,John Grisham,1993,Dell
455,044021145X,The Firm,John Grisham,1992,Bantam Dell Publishing Group
521,0312195516,The Red Tent (Bestselling Backlist),Anita Diamant,1998,Picador USA
20670,0345318862,Golem in the Gears (Xanth Novels (Paperback)),PIERS ANTHONY,1986,Del Rey
4810,0345313151,Bearing an Hourglass (Incarnations of Immortal...,Piers Anthony,1991,Del Rey Books
6320,0380752891,"Man from Mundania (Xanth Trilogy, No 12)",Piers Anthony,1990,Harper Mass Market Paperbacks
44448,051511605X,Undue Influence,Steven Paul Martini,1995,Jove Books
8977,043936213X,Harry Potter and the Sorcerer's Stone (Book 1),J. K. Rowling,2001,Scholastic

In [293]:
sorted_user_predictions

ISBN
0316666343    1.015398
059035342X    0.778666
0345350499    0.697309
0440214041    0.665439
044021145X    0.663549
0312195516    0.642840
0345318862    0.639465
0345313151    0.631446
0380752891    0.629143
051511605X    0.617955
043936213X    0.614288
0385504209    0.613232
0312966970    0.605433
0440213525    0.603722
0812548051    0.602907
0380752859    0.598778
0345322231    0.588352
0345318854    0.579408
0452282152    0.572168
0812548094    0.571572
0812517725    0.564544
0345322215    0.560832
0440211727    0.560544
0380759489    0.559758
0812551478    0.558102
006016848X    0.550815
0345313097    0.547583
0886774802    0.544630
0553280368    0.541396
0446310786    0.540218
                ...
055321313X   -0.128899
0140251367   -0.131740
0836220854   -0.132223
0670835382   -0.133569
0375706062   -0.134258
0440404193   -0.134705
0679767789   -0.135518
0062501860   -0.135882
0140501800   -0.136724
0515090166   -0.137002
0140328696   -0.137862
0515095826   -0.138192
0525941908   -0.140114
0671769316   -0.141472
0156013924   -0.142049
0684843269   -0.143380
0140440046   -0.143926
0380002558   -0.144246
0452278902   -0.145532
067082982X   -0.146698
0316236446   -0.151449
0385199570   -0.151624
0684853507   -0.157824
0394832922   -0.158662
0877799156   -0.159875
0380709562   -0.162346
0553213164   -0.173301
0440219078   -0.174498
0807508527   -0.204146
0743235150   -0.209452
Name: 2, Length: 66574, dtype: float64

In [291]:
user_data.head()

       userID        ISBN  bookRating
14448    2110  0060987529           7
14449    2110  0064472779           8
14450    2110  0140022651          10
14452    2110  0142302163           8
14453    2110  0151008116           5

In [292]:
user_data.shape

(103, 3)

### Combine the user_data and and corresponding book data(`book_data`) in a single dataframe with name `user_full_info`

In [294]:
user_data_2100 = ratings[ratings['userID'] == 2110]
user_data_2100.head()

       userID        ISBN  bookRating
14448    2110  0060987529           7
14449    2110  0064472779           8
14450    2110  0140022651          10
14452    2110  0142302163           8
14453    2110  0151008116           5

In [295]:
user_data_2100.shape

(103, 3)

In [296]:
book_data.shape

(103271, 7)

In [297]:
book_data.head()

,userID,ISBN,bookRating,bookTitle,bookAuthor,yearOfPublication,publisher
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
1,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
2,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
3,52584,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
4,110934,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc

### Get top 10 recommendations for above given userID from the books not already rated by that user

In [299]:
predictions

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher
407,0316666343,The Lovely Bones: A Novel,Alice Sebold,2002,"Little, Brown"
2116,0345350499,The Mists of Avalon,MARION ZIMMER BRADLEY,1987,Del Rey
2438,0440214041,The Pelican Brief,John Grisham,1993,Dell
455,044021145X,The Firm,John Grisham,1992,Bantam Dell Publishing Group
521,0312195516,The Red Tent (Bestselling Backlist),Anita Diamant,1998,Picador USA
20670,0345318862,Golem in the Gears (Xanth Novels (Paperback)),PIERS ANTHONY,1986,Del Rey
4810,0345313151,Bearing an Hourglass (Incarnations of Immortal...,Piers Anthony,1991,Del Rey Books
6320,0380752891,"Man from Mundania (Xanth Trilogy, No 12)",Piers Anthony,1990,Harper Mass Market Paperbacks
44448,051511605X,Undue Influence,Steven Paul Martini,1995,Jove Books
8977,043936213X,Harry Potter and the Sorcerer's Stone (Book 1),J. K. Rowling,2001,Scholastic

In [301]:
sorted_user_predictions1 = pred_df.loc[2].sort_values(ascending = False)

In [302]:
recommendations = (books[~books['ISBN'].isin(user_full['ISBN'])].
                      merge(pd.DataFrame(sorted_user_predictions1).reset_index(), how = 'left',
                           left_on = 'ISBN',
                           right_on = 'ISBN').rename(columns = {2: 'Predictions'}).
                      sort_values('Predictions', ascending = False).
                   iloc[:10, :-1])

In [303]:
recommendations

,ISBN,bookTitle,bookAuthor,yearOfPublication,publisher
407,0316666343,The Lovely Bones: A Novel,Alice Sebold,2002,"Little, Brown"
2116,0345350499,The Mists of Avalon,MARION ZIMMER BRADLEY,1987,Del Rey
2438,0440214041,The Pelican Brief,John Grisham,1993,Dell
455,044021145X,The Firm,John Grisham,1992,Bantam Dell Publishing Group
521,0312195516,The Red Tent (Bestselling Backlist),Anita Diamant,1998,Picador USA
20670,0345318862,Golem in the Gears (Xanth Novels (Paperback)),PIERS ANTHONY,1986,Del Rey
4810,0345313151,Bearing an Hourglass (Incarnations of Immortal...,Piers Anthony,1991,Del Rey Books
6320,0380752891,"Man from Mundania (Xanth Trilogy, No 12)",Piers Anthony,1990,Harper Mass Market Paperbacks
44448,051511605X,Undue Influence,Steven Paul Martini,1995,Jove Books
8977,043936213X,Harry Potter and the Sorcerer's Stone (Book 1),J. K. Rowling,2001,Scholastic