# External Lab

# Part-1

## About the dataset

This is perhaps the best known database to be found in the pattern recognition literature. The data set contains 3 classes of 50 instances each, where each class refers to a type of iris plant.  One class is linearly separable from the other 2; the latter are NOT linearly separable from each other.

Attribute Information:
   1. sepal length in cm
   2. sepal width in cm
   3. petal length in cm
   4. petal width in cm
   5. class: 
      -- Iris Setosa
      -- Iris Versicolour
      -- Iris Virginica

### Read the dataset and store it in the dataframe named Iris

In [2]:
import pandas as pd
iris = pd.read_csv('Iris.csv')
iris.head()

,Sepal Length (in cm),Sepal Width in (cm),Petal length (in cm),Petal width (in cm),Class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa

### Find out the datatypes of each and every column

In [4]:
print(iris.dtypes)
iris.info()

Sepal Length (in cm)    float64
Sepal Width in (cm)     float64
Petal length (in cm)    float64
Petal width (in cm)     float64
Class                    object
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
Sepal Length (in cm)    150 non-null float64
Sepal Width in (cm)     150 non-null float64
Petal length (in cm)    150 non-null float64
Petal width (in cm)     150 non-null float64
Class                   150 non-null object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

### Print top 10 & bottom 10 samples from the dataframe

In [5]:
print(iris.head(10))
print(iris.tail(10))

   Sepal Length (in cm)  Sepal Width in (cm)  Petal length (in cm)  \
0                   5.1                  3.5                   1.4
1                   4.9                  3.0                   1.4
2                   4.7                  3.2                   1.3
3                   4.6                  3.1                   1.5
4                   5.0                  3.6                   1.4
5                   5.4                  3.9                   1.7
6                   4.6                  3.4                   1.4
7                   5.0                  3.4                   1.5
8                   4.4                  2.9                   1.4
9                   4.9                  3.1                   1.5

   Petal width (in cm)        Class
0                  0.2  Iris-setosa
1                  0.2  Iris-setosa
2                  0.2  Iris-setosa
3                  0.2  Iris-setosa
4                  0.2  Iris-setosa
5                  0.4  Iris-setosa
6                  0.3  Iris-setosa
7                  0.2  Iris-setosa
8                  0.2  Iris-setosa
9                  0.1  Iris-setosa
     Sepal Length (in cm)  Sepal Width in (cm)  Petal length (in cm)  \
140                   6.7                  3.1                   5.6
141                   6.9                  3.1                   5.1
142                   5.8                  2.7                   5.1
143                   6.8                  3.2                   5.9
144                   6.7                  3.3                   5.7
145                   6.7                  3.0                   5.2
146                   6.3                  2.5                   5.0
147                   6.5                  3.0                   5.2
148                   6.2                  3.4                   5.4
149                   5.9                  3.0                   5.1

     Petal width (in cm)           Class
140                  2.4  Iris-virginica
141                  2.3  Iris-virginica
142                  1.9  Iris-virginica
143                  2.3  Iris-virginica
144                  2.5  Iris-virginica
145                  2.3  Iris-virginica
146                  1.9  Iris-virginica
147                  2.0  Iris-virginica
148                  2.3  Iris-virginica
149                  1.8  Iris-virginica

### Find the shape of the dataset

In [6]:
iris.shape

(150, 5)

### Set the index of the dataframe to be the first column

In [7]:
new_iris = iris.set_index('Sepal Length (in cm)')

In [8]:
new_iris.head()

,Sepal Width in (cm),Petal length (in cm),Petal width (in cm),Class
Sepal Length (in cm),,,,
5.1,3.5,1.4,0.2,Iris-setosa
4.9,3.0,1.4,0.2,Iris-setosa
4.7,3.2,1.3,0.2,Iris-setosa
4.6,3.1,1.5,0.2,Iris-setosa
5.0,3.6,1.4,0.2,Iris-setosa

### Use iloc function to print all the rows of the 3rd column

In [9]:
iris.iloc[[2]]

,Sepal Length (in cm),Sepal Width in (cm),Petal length (in cm),Petal width (in cm),Class
2,4.7,3.2,1.3,0.2,Iris-setosa

### Slicing
Print only the Sepal width and Sepal Length for first 10 rows

In [10]:
iris.iloc[0:9,0:2]

   Sepal Length (in cm)  Sepal Width in (cm)
0                   5.1                  3.5
1                   4.9                  3.0
2                   4.7                  3.2
3                   4.6                  3.1
4                   5.0                  3.6
5                   5.4                  3.9
6                   4.6                  3.4
7                   5.0                  3.4
8                   4.4                  2.9

### Using Logical statements for indexing
Print all the columns of row which has class name "Iris-setosa"

In [11]:
iris.loc[iris['Class'] == 'Iris-setosa']

,Sepal Length (in cm),Sepal Width in (cm),Petal length (in cm),Petal width (in cm),Class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
5,5.4,3.9,1.7,0.4,Iris-setosa
6,4.6,3.4,1.4,0.3,Iris-setosa
7,5.0,3.4,1.5,0.2,Iris-setosa
8,4.4,2.9,1.4,0.2,Iris-setosa
9,4.9,3.1,1.5,0.1,Iris-setosa
10,5.4,3.7,1.5,0.2,Iris-setosa
11,4.8,3.4,1.6,0.2,Iris-setosa
12,4.8,3.0,1.4,0.1,Iris-setosa
13,4.3,3.0,1.1,0.1,Iris-setosa
14,5.8,4.0,1.2,0.2,Iris-setosa
15,5.7,4.4,1.5,0.4,Iris-setosa
16,5.4,3.9,1.3,0.4,Iris-setosa
17,5.1,3.5,1.4,0.3,Iris-setosa
18,5.7,3.8,1.7,0.3,Iris-setosa
19,5.1,3.8,1.5,0.3,Iris-setosa
20,5.4,3.4,1.7,0.2,Iris-setosa
21,5.1,3.7,1.5,0.4,Iris-setosa
22,4.6,3.6,1.0,0.2,Iris-setosa
23,5.1,3.3,1.7,0.5,Iris-setosa
24,4.8,3.4,1.9,0.2,Iris-setosa
25,5.0,3.0,1.6,0.2,Iris-setosa
26,5.0,3.4,1.6,0.4,Iris-setosa
27,5.2,3.5,1.5,0.2,Iris-setosa
28,5.2,3.4,1.4,0.2,Iris-setosa
29,4.7,3.2,1.6,0.2,Iris-setosa
30,4.8,3.1,1.6,0.2,Iris-setosa
31,5.4,3.4,1.5,0.4,Iris-setosa
32,5.2,4.1,1.5,0.1,Iris-setosa
33,5.5,4.2,1.4,0.2,Iris-setosa
34,4.9,3.1,1.5,0.1,Iris-setosa
35,5.0,3.2,1.2,0.2,Iris-setosa
36,5.5,3.5,1.3,0.2,Iris-setosa
37,4.9,3.1,1.5,0.1,Iris-setosa
38,4.4,3.0,1.3,0.2,Iris-setosa
39,5.1,3.4,1.5,0.2,Iris-setosa
40,5.0,3.5,1.3,0.3,Iris-setosa
41,4.5,2.3,1.3,0.3,Iris-setosa
42,4.4,3.2,1.3,0.2,Iris-setosa
43,5.0,3.5,1.6,0.6,Iris-setosa
44,5.1,3.8,1.9,0.4,Iris-setosa
45,4.8,3.0,1.4,0.3,Iris-setosa
46,5.1,3.8,1.6,0.2,Iris-setosa
47,4.6,3.2,1.4,0.2,Iris-setosa
48,5.3,3.7,1.5,0.2,Iris-setosa
49,5.0,3.3,1.4,0.2,Iris-setosa

### Multiply Sepal Length and width and store it under the column name "SepalExtra" in the same Iris dataframe

In [12]:
iris['SepalExtra'] = iris['Sepal Length (in cm)'] * iris['Sepal Width in (cm)']

In [14]:
iris.head()

,Sepal Length (in cm),Sepal Width in (cm),Petal length (in cm),Petal width (in cm),Class,SepalExtra
0,5.1,3.5,1.4,0.2,Iris-setosa,17.85
1,4.9,3.0,1.4,0.2,Iris-setosa,14.70
2,4.7,3.2,1.3,0.2,Iris-setosa,15.04
3,4.6,3.1,1.5,0.2,Iris-setosa,14.26
4,5.0,3.6,1.4,0.2,Iris-setosa,18.00

### Find out the mean and variance for each column but for class column

In [17]:
list_a = ['Sepal Length (in cm)','Sepal Width in (cm)','Petal length (in cm)','Petal width (in cm)','SepalExtra']
print(iris[list_a].mean())
print(iris[list_a].var())

Sepal Length (in cm)     5.843333
Sepal Width in (cm)      3.054000
Petal length (in cm)     3.758667
Petal width (in cm)      1.198667
SepalExtra              17.806533
dtype: float64
Sepal Length (in cm)     0.685694
Sepal Width in (cm)      0.188004
Petal length (in cm)     3.113179
Petal width (in cm)      0.582414
SepalExtra              11.348090
dtype: float64

### Write a function that accepts two numbers as input and prints them - Pass the Sepal length and sepal width of 5th row and print the output

In [18]:
def func(x,y):
    print(x,y)


func(iris.iloc[4]['Sepal Length (in cm)'],iris.iloc[4]['Sepal Width in (cm)'])

5.0 3.6

### Find the range of all the columns in the dataset

*Range = Max value - Min value (in the column)*

In [19]:
list_b = ['Sepal Length (in cm)','Sepal Width in (cm)','Petal length (in cm)','Petal width (in cm)','SepalExtra']
range_iris = iris[list_b].max() - iris[list_b].min()
print(range_iris)

Sepal Length (in cm)     3.60
Sepal Width in (cm)      2.40
Petal length (in cm)     5.90
Petal width (in cm)      2.40
SepalExtra              20.02
dtype: float64

### Sort the entire dataset according to the column Petal width

In [20]:
iris.sort_values(['Petal width (in cm)'])

,Sepal Length (in cm),Sepal Width in (cm),Petal length (in cm),Petal width (in cm),Class,SepalExtra
32,5.2,4.1,1.5,0.1,Iris-setosa,21.32
13,4.3,3.0,1.1,0.1,Iris-setosa,12.90
37,4.9,3.1,1.5,0.1,Iris-setosa,15.19
9,4.9,3.1,1.5,0.1,Iris-setosa,15.19
12,4.8,3.0,1.4,0.1,Iris-setosa,14.40
34,4.9,3.1,1.5,0.1,Iris-setosa,15.19
0,5.1,3.5,1.4,0.2,Iris-setosa,17.85
27,5.2,3.5,1.5,0.2,Iris-setosa,18.20
28,5.2,3.4,1.4,0.2,Iris-setosa,17.68
29,4.7,3.2,1.6,0.2,Iris-setosa,15.04
30,4.8,3.1,1.6,0.2,Iris-setosa,14.88
33,5.5,4.2,1.4,0.2,Iris-setosa,23.10
36,5.5,3.5,1.3,0.2,Iris-setosa,19.25
38,4.4,3.0,1.3,0.2,Iris-setosa,13.20
39,5.1,3.4,1.5,0.2,Iris-setosa,17.34
42,4.4,3.2,1.3,0.2,Iris-setosa,14.08
46,5.1,3.8,1.6,0.2,Iris-setosa,19.38
47,4.6,3.2,1.4,0.2,Iris-setosa,14.72
48,5.3,3.7,1.5,0.2,Iris-setosa,19.61
49,5.0,3.3,1.4,0.2,Iris-setosa,16.50
25,5.0,3.0,1.6,0.2,Iris-setosa,15.00
24,4.8,3.4,1.9,0.2,Iris-setosa,16.32
35,5.0,3.2,1.2,0.2,Iris-setosa,16.00
3,4.6,3.1,1.5,0.2,Iris-setosa,14.26
2,4.7,3.2,1.3,0.2,Iris-setosa,15.04
7,5.0,3.4,1.5,0.2,Iris-setosa,17.00
8,4.4,2.9,1.4,0.2,Iris-setosa,12.76
10,5.4,3.7,1.5,0.2,Iris-setosa,19.98
4,5.0,3.6,1.4,0.2,Iris-setosa,18.00
11,4.8,3.4,1.6,0.2,Iris-setosa,16.32
...,...,...,...,...,...,...
111,6.4,2.7,5.3,1.9,Iris-virginica,17.28
121,5.6,2.8,4.9,2.0,Iris-virginica,15.68
122,7.7,2.8,6.7,2.0,Iris-virginica,21.56
147,6.5,3.0,5.2,2.0,Iris-virginica,19.50
113,5.7,2.5,5.0,2.0,Iris-virginica,14.25
131,7.9,3.8,6.4,2.0,Iris-virginica,30.02
110,6.5,3.2,5.1,2.0,Iris-virginica,20.80
139,6.9,3.1,5.4,2.1,Iris-virginica,21.39
102,7.1,3.0,5.9,2.1,Iris-virginica,21.30
112,6.8,3.0,5.5,2.1,Iris-virginica,20.40
105,7.6,3.0,6.6,2.1,Iris-virginica,22.80
124,6.7,3.3,5.7,2.1,Iris-virginica,22.11
128,6.4,2.8,5.6,2.1,Iris-virginica,17.92
117,7.7,3.8,6.7,2.2,Iris-virginica,29.26
132,6.4,2.8,5.6,2.2,Iris-virginica,17.92
104,6.5,3.0,5.8,2.2,Iris-virginica,19.50
120,6.9,3.2,5.7,2.3,Iris-virginica,22.08
115,6.4,3.2,5.3,2.3,Iris-virginica,20.48
148,6.2,3.4,5.4,2.3,Iris-virginica,21.08
141,6.9,3.1,5.1,2.3,Iris-virginica,21.39
143,6.8,3.2,5.9,2.3,Iris-virginica,21.76
145,6.7,3.0,5.2,2.3,Iris-virginica,20.10
118,7.7,2.6,6.9,2.3,Iris-virginica,20.02
135,7.7,3.0,6.1,2.3,Iris-virginica,23.10
136,6.3,3.4,5.6,2.4,Iris-virginica,21.42
140,6.7,3.1,5.6,2.4,Iris-virginica,20.77
114,5.8,2.8,5.1,2.4,Iris-virginica,16.24
100,6.3,3.3,6.0,2.5,Iris-virginica,20.79
144,6.7,3.3,5.7,2.5,Iris-virginica,22.11
109,7.2,3.6,6.1,2.5,Iris-virginica,25.92

### Remove the new column "SepalExtra" from the dataframe

In [ ]:
iris.drop('SepalExtra',1, inplace=True)

### Take only the top 10 rows of the dataset with only first 3 columns and store it in a dataframe named "IrisSubset"

In [23]:
IrisSubset = iris.iloc[0:10,0:3]

In [24]:
IrisSubset

   Sepal Length (in cm)  Sepal Width in (cm)  Petal length (in cm)
0                   5.1                  3.5                   1.4
1                   4.9                  3.0                   1.4
2                   4.7                  3.2                   1.3
3                   4.6                  3.1                   1.5
4                   5.0                  3.6                   1.4
5                   5.4                  3.9                   1.7
6                   4.6                  3.4                   1.4
7                   5.0                  3.4                   1.5
8                   4.4                  2.9                   1.4
9                   4.9                  3.1                   1.5

# Part-2

## The dataset HR contains information collected from the survey floated by a HR within the company.


As a part of this lab, you are expected to answer the below questions

### Import numpy and Pandas

In [25]:
import numpy as np
import pandas as pd

### Import the dataset (Note: The dataset is in .txt format) - Make sure to use delimiters

In [27]:
hr = pd.read_csv('HR_external.txt', header = None, sep='\t')
hr.columns = hr.iloc[0]
hr.drop(0,inplace = True)
hr.head()

,Individual,Attrition,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
1,Ind1,Yes,41,1,1102,1,1,2,1,1,...,1,80,0,8,0,1,6,4,0,5
2,Ind2,No,49,2,279,2,8,1,1,1,...,4,80,1,10,3,3,10,7,1,7
3,Ind3,Yes,37,1,1373,2,2,2,6,1,...,2,80,0,7,3,3,0,0,0,0
4,Ind4,No,33,2,1392,2,3,4,1,1,...,3,80,0,8,3,3,8,7,3,0
5,Ind5,No,27,1,591,2,2,1,2,1,...,4,80,1,6,3,3,2,2,2,2

### Print the no of rows and columns in the dataset

In [28]:
num = hr.shape

In [29]:
print(num)

(1470, 35)

### Find out the type of each and every column in the dataset

In [30]:
hr.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1470 entries, 1 to 1470
Data columns (total 35 columns):
Individual                  1470 non-null object
Attrition                   1470 non-null object
Age                         1470 non-null object
BusinessTravel              1470 non-null object
DailyRate                   1470 non-null object
Department                  1470 non-null object
DistanceFromHome            1470 non-null object
Education                   1470 non-null object
EducationField              1470 non-null object
EmployeeCount               1470 non-null object
EmployeeNumber              1470 non-null object
EnvironmentSatisfaction     1470 non-null object
Gender                      1470 non-null object
HourlyRate                  1470 non-null object
JobInvolvement              1470 non-null object
JobLevel                    1470 non-null object
JobRole                     1470 non-null object
JobSatisfaction             1470 non-null object
MaritalStatus               1470 non-null object
MonthlyIncome               1470 non-null object
MonthlyRate                 1470 non-null object
NumCompaniesWorked          1470 non-null object
OverTime                    1470 non-null object
PercentSalaryHike           1470 non-null object
PerformanceRating           1470 non-null object
RelationshipSatisfaction    1470 non-null object
StandardHours               1470 non-null object
StockOptionLevel            1470 non-null object
TotalWorkingYears           1470 non-null object
TrainingTimesLastYear       1470 non-null object
WorkLifeBalance             1470 non-null object
YearsAtCompany              1470 non-null object
YearsInCurrentRole          1470 non-null object
YearsSinceLastPromotion     1470 non-null object
YearsWithCurrManager        1470 non-null object
dtypes: object(35)
memory usage: 413.4+ KB

### Print out all the rows from 3rd column to 10th columns

In [31]:
hr.iloc[:,2:11]

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber
1,41,1,1102,1,1,2,1,1,1
2,49,2,279,2,8,1,1,1,2
3,37,1,1373,2,2,2,6,1,4
4,33,2,1392,2,3,4,1,1,5
5,27,1,591,2,2,1,2,1,7
6,32,2,1005,2,2,2,1,1,8
7,59,1,1324,2,3,3,2,1,10
8,30,1,1358,2,24,1,1,1,11
9,38,2,216,2,23,3,1,1,12
10,36,1,1299,2,27,3,2,1,13
11,35,1,809,2,16,3,2,1,14
12,29,1,153,2,15,2,1,1,15
13,31,1,670,2,26,1,1,1,16
14,34,1,1346,2,19,2,2,1,18
15,28,1,103,2,24,3,1,1,19
16,29,1,1389,2,21,4,1,1,20
17,32,1,334,2,5,2,1,1,21
18,22,3,1123,2,16,2,2,1,22
19,53,1,1219,1,2,4,1,1,23
20,38,1,371,2,2,3,1,1,24
21,24,3,673,2,11,2,6,1,26
22,36,1,1218,1,9,4,1,1,27
23,34,1,419,2,7,4,1,1,28
24,21,1,391,2,15,2,1,1,30
25,34,1,699,2,6,1,2,1,31
26,53,1,1282,2,5,3,6,1,32
27,32,2,1125,2,16,1,1,1,33
28,42,1,691,1,8,4,3,1,35
29,44,1,477,2,7,4,2,1,36
30,46,1,705,1,2,4,3,1,38
...,...,...,...,...,...,...,...,...,...
1441,36,2,688,2,4,2,1,1,2025
1442,56,3,667,2,1,4,1,1,2026
1443,29,1,1092,2,1,4,2,1,2027
1444,42,1,300,2,2,3,1,1,2031
1445,56,1,310,2,7,2,4,1,2032
1446,41,1,582,2,28,4,1,1,2034
1447,34,1,704,1,28,3,3,1,2035
1448,36,3,301,1,15,4,3,1,2036
1449,41,1,930,1,3,3,1,1,2037
1450,32,1,529,2,2,3,4,1,2038
1451,35,1,1146,3,26,4,1,1,2040
1452,38,1,345,1,10,2,1,1,2041
1453,50,2,878,1,1,4,1,1,2044
1454,36,1,1120,1,11,4,3,1,2045
1455,45,1,374,1,20,3,1,1,2046
1456,40,1,1322,2,2,4,1,1,2048
1457,35,2,1199,2,18,4,1,1,2049
1458,40,1,1194,2,2,4,2,1,2051
1459,35,1,287,2,1,4,1,1,2052
1460,29,1,1378,2,13,2,6,1,2053
1461,29,1,468,2,28,4,2,1,2054
1462,50,1,410,1,28,3,3,1,2055
1463,39,1,722,1,24,1,3,1,2056
1464,31,3,325,2,5,3,2,1,2057
1465,26,1,1167,1,5,3,6,1,2060
1466,36,2,884,2,23,2,2,1,2061
1467,39,1,613,2,6,1,2,1,2062
1468,27,1,155,2,4,3,1,1,2064
1469,49,2,1023,1,2,3,2,1,2065
1470,34,1,628,2,8,3,2,1,2068

### Find out the no of male & female employees in the company

*Hint: Use can use a condition to find out the no of 1s and 0s in gender and sum it*

In [32]:
hr[hr['Gender'] == '2'].count()['Gender']

588

In [33]:
hr[hr['Gender'] == '1'].count()['Gender']

882

### Find out the IQR for the column - Age 

*Hint: IQR - Interquartile range = 75th percentile - 25th percentile*

In [34]:
hr_2 = hr.astype({"Age": int})
iqr = hr_2.Age.quantile(0.75) - hr_2.Age.quantile(0.25)
print(iqr)

13.0

### Find out the mean, median and variance for the column - DailyRate

In [ ]:
hr_1 = hr.astype({"DailyRate": int})
print(hr_1.DailyRate.mean())
print(hr_1.DailyRate.median())
print(hr_1.DailyRate.var())
hr.TotalWorkingYears.unique()

### Plot the attrition column (Since it is a categorical variable, chose the plot accordingly)

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

### Plot Total working years using matplotlib plot function

In [ ]:
plt.hist(hr['TotalWorkingYears'])
plt.show()