In [184]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# data set 'La Liga cup (Football tournament)' is read.

In [185]:
laliga = pd.read_csv('Laliga.csv')
laliga.columns = laliga.loc[0]
laliga.head()

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
0,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
1,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
2,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
3,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
4,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1

In [186]:
laliga.columns = laliga.loc[0]
laliga.drop(0,inplace = True)

In [187]:
laliga.head()

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
1,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
2,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
3,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
4,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
5,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1

# all dashes are replaced with 0 to make sure we can perform arithmetic operations on the data.

In [ ]:
# this will replace "-" with 0 
laliga.replace(to_replace = "-", value = 0 ,inplace = True)

In [189]:
num_list = ['Pos','Seasons', 'Points', 'GamesPlayed', 'GamesWon',
       'GamesDrawn', 'GamesLost', 'GoalsFor', 'GoalsAgainst', 'Champion',
       'Runner-up', 'Third', 'Fourth', 'Fifth', 'Sixth', 'T','BestPosition']
laliga[num_list] = laliga[num_list].apply(pd.to_numeric)

In [190]:
laliga.Champion.unique()

array([33, 25, 10,  6,  8,  1,  0,  2], dtype=int64)

In [191]:
num_list = ['Pos','Seasons', 'Points', 'GamesPlayed', 'GamesWon',
       'GamesDrawn', 'GamesLost', 'GoalsFor', 'GoalsAgainst', 'Champion',
       'Runner-up', 'Third', 'Fourth', 'Fifth', 'Sixth', 'T','BestPosition']
laliga[num_list] = laliga[num_list].apply(pd.to_numeric)

In [192]:
laliga['Debut'][4][0:4]
laliga.iloc[1]['Team']
j = 0

# all the teams which have started playing between 1930-1980.

In [193]:
for i in laliga['Debut']:
    if int(i[0:4]) >= 1930 or int(i[0:4]) <= 1980:
        j += 1
        if j < len(laliga['Debut']):
            print(laliga.iloc[j]['Team'])

Barcelona
Atletico Madrid
Valencia
Athletic Bilbao
Sevilla
Espanyol
Real Sociedad
Zaragoza
Real Betis
Deportivo La Coruna
Celta Vigo
Valladolid
Racing Santander
Sporting Gijon
Osasuna
Malaga
Oviedo
Mallorca
Las Palmas
Villarreal
Granada
Rayo Vallecano
Elche
Getafe
Hercules
Tenerife
Murcia
Alaves
Levante
Salamanca
Sabadell
Cadiz
Logrones
Castellon
Albacete
Almeria
Cordoba
Compostela
Recreativo
Burgos CF
Pontevedra
Numancia
Eibar
Arenas
Real Burgos
Gimnastic
Extremadura
Merida
Alcoyano
Jaen
Real Union
AD Almeria
Europa
Lleida
Leganes
Xerez
Condal
Atletico Tetuan
Cultural Leonesa
Girona

# list of teams which came Top 5 in terms of points

In [194]:
list_top5 = laliga.Team[laliga[['Champion','Runner-up', 'Third', 'Fourth', 'Fifth']].sum(axis=1) > 5].tolist()
print(list_top5)

['Real Madrid', 'Barcelona', 'Atletico Madrid', 'Valencia', 'Athletic Bilbao', 'Sevilla', 'Espanyol', 'Real Sociedad', 'Zaragoza', 'Real Betis', 'Deportivo La Coruna', 'Celta Vigo', 'Sporting Gijon', 'Oviedo', 'Villarreal']

# all the teams with their Goal Differences

In [195]:
l1 = []
def Goal_diff_count(GoalsFor, GoalsAgainst):
    Goal_diff = GoalsFor - GoalsAgainst
    return Goal_diff

for i in range(1,len(laliga)+1):
    l1.append([laliga['Team'][i], Goal_diff_count(laliga['GoalsFor'][i],laliga['GoalsAgainst'][i])])
    
df = pd.DataFrame(l1, columns = ['Team', 'Goal Difference'])
print(df.head())
#print(df[df['Goal Difference'] == df['Goal Difference'].max()])
#print(df[df['Goal Difference'] == df['Goal Difference'].min()])

              Team  Goal Difference
0      Real Madrid             2807
1        Barcelona             2786
2  Atletico Madrid             1225
3         Valencia              929
4  Athletic Bilbao              931

# team which has maximum goal difference

In [196]:
print(df[df['Goal Difference'] == df['Goal Difference'].max()])

          Team  Goal Difference
0  Real Madrid             2807

# team which has minimum goal difference

In [197]:
print(df[df['Goal Difference'] == df['Goal Difference'].min()])

                Team  Goal Difference
13  Racing Santander             -525

# top 5 teams which has the highest Winning percentage

In [202]:
laliga['Winning Percent'] = (laliga['GamesWon'] / laliga['GamesPlayed'])*100
laliga.sort_values('Winning Percent', ascending=False).head()[['Team', 'Winning Percent']]

1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
      ...
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
50    False
51    False
52    False
53    False
54    False
55    False
56    False
57    False
58    False
59    False
60    False
61     True
Name: GamesPlayed, Length: 61, dtype: bool

# Teams are Grouped based on their “Best position” and printed the sum of their "points" for all positions.

In [199]:
print(laliga.groupby(['BestPosition']).sum()['Points'])

BestPosition
1     27933
2      6904
3      5221
4      6563
5      1884
6      2113
7      1186
8      1134
9        96
10      450
11      445
12      511
14       71
15       14
16       81
17      266
19       81
20       34
Name: Points, dtype: int64